<div class="wmuSlider example1 section" id="section-1" ng-controller="ContainerController">
    <article style="position: absolute; width: 100%; opacity: 0;" ng-repeat="container in containers">
        <div class="bottom-slide" >
            <img src="./images/twitter.png" alt="" />
            <p>{{container.title}}</p>
        </div>
    </article>
    <ul class="wmuSliderPagination" ng-repeat="container in containers">
        <li><a href="#" class="">{{container.id}}</a></li>

    </ul>
</div>
<!-- script -->
<script src="js/jquery.wmuSlider.js"></script>
<script>
    setTimeout(function () {$('.example1').wmuSlider();}, 2000);
</script>
<!-- script -->